
    form.form-inline {
    
        .form-group {
    
            input.form-control {
                border: 0;
                width: 500px;
                height: 60px;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
                font-size: 15px;
                font-weight: 300;
                color: $text-color-paragraph;
        
            }
        }
    
    }