// Shapes
.shape-1 {
    position: absolute;
    width: 25px;
    top: 50%;
    right: 15%;
    animation: pulse 3s  infinite ease-in-out;
}
.shape-2 {
    position: absolute;
    width: 30px;
    top: 20%;
    right: 25%;
    animation: up-dawn 5s  infinite ease-in-out;
    
}
.shape-3 {
    position: absolute;
    width: 15px;
    bottom: 10%;
    right: 20%;
    animation: up-dawn 5s  infinite ease-in-out 1s;
}
.shape-4 {
    position: absolute;
    width: 25px;
    top: 20%;
    left: 20%;
    animation: pulse 3s  infinite ease-in-out 1.5s;
}
.shape-5 {
    position: absolute;
    width: 20px;
    top: 30%;
    left: 50%;
    animation: up-dawn 5s  infinite ease-in-out 1.7s;
}
.shape-6 {
    position: absolute;
    width: 15px;
    bottom: 30%;
    left: 40%;
    animation: up-dawn 5s  infinite ease-in-out 2.3s;
}
.shape-7 {
    position: absolute;
    width: 25px;
    bottom: 15%;
    left: 20%;
    animation: pulse 3s  infinite ease-in-out 1s;
}
.shape-8 {
    position: absolute;
    width: 25px;
    bottom: 10%;
    left: 60%;
    animation: up-dawn 5s  infinite ease-in-out 3s;
}