// Margin
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-60 { margin-bottom: 60px !important; }
.mb-70 { margin-bottom: 70px !important; }

// Padding
.ptb-120, .py-120 { padding: 120px 0;}
.pt-120 { padding-top: 120px; }
.pb-120 { padding-bottom: 120px; }

.py-68{padding: 68px 0;}