//color
$color-white: #ffffff;
$color-text-dark: #051441;
$color-text-heading: #263b5e;
$text-color-paragraph: #6a7695;

$color-blue-light: #01c9db;
$color-blue-dark: #02456A;
$color-blue-verylight: #e8f5f7;